@tailwind base;
@tailwind components;
@tailwind utilities;


*{margin: 0%;}

*{
font-family: 'Kaisei Decol',
serif;
font-family: 'Noto Sans JP',
sans-serif;
font-family: 'Noto Serif',
serif;
font-family: 'Noto Serif JP',
serif;
font-family: 'Roboto',
sans-serif;
}
/* * {
    outline: 2px red solid;
} */